/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/****** Header ***********/
.section-title {
    margin: 0;
    font-size: 22px;
}
.booki {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
       
}
.logo {
    width: 4%;
}
.navbar {
    display: flex;
    gap: 5em;
    
    
}

.logement, .activites {
    position: relative;
}

  .logement:hover::before,
.activites:hover::before {
    content: '';
    position: absolute;
    top: -10px; 
    left: 0;
    width: 100%; 
    height: 3px; 
    background-color: #0065FC; 
    display: block;
}
.logement:hover,
.activites:hover {
  color: #0065FC; 
}

/****** Barre De Recherche Et Filtres ***********/
#searchForm {
    margin-left: 7px;   
}

#searchForm h1 {
    margin-bottom: 5px;
    font-size: 19px;
}
#searchForm p {
    font-size: 13px;
    margin-bottom: 20px;
   
}

.map-icon {
    padding: 12px;
    border-radius: 9px 0 0 9px;
    background-color: #F2F2F2;
    display: inline-block;
    width: 1%;
    font-size: 13px;
    text-align: center; 
}

#city {
   width: 11.5%; 
   border: none;
   text-align: center;
}

#searchForm button {
    padding: 8px 18px;
    border-radius: 0 9px 9px 0;
    border: none;
    background-color: #0065FC; 
    color: white;
    font-weight: bold;
    cursor: pointer;
    
}


.result {
    display: flex;
    flex-direction: row;
    margin-bottom: 8px;
    
}

.hidden-desktop {
    display: none;
}

.filter {
    display: flex;
    align-items: center; 
    padding: 10px; 
    
  }
  .filter span {
    font-weight: bold;
    margin-right: 7px;
  }
  .filter i {
    margin-right: 10px; 
    font-size: 15px;
  }

  .filter button {
    padding: 10px 20px;
    margin: 7px; 
    background-color: white;
    cursor: pointer; 
    border-radius: 20px;
    border: 1px solid grey;
    font-weight: bold;
  }
  
  .filter button:hover {
    background-color: #DEEBFF;
  }

  .info p {
    font-size: 15px;
  }
  
  
.info .fa-info {
    display: inline-block;
    color: #0065FC;
    border: 1px solid #d9d9d9;
    font-size: 9px;
    width: 4px;
    height:5px;
    border-radius: 50%;
    padding: 3px 6px 9px 7px;
    margin-right: 10px;
    margin-left: 7px;
}



/****** Les plus populaires ***********/
.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
    height: 621px;
}
.hebergements h2 {
    margin-bottom: 15px;
}

#hebergements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;  
    row-gap: 10px;  
     
}

.card-link {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));;
    width: 31%;
    min-width: 120px;
    margin-top: 20px;
  }

  .card-link img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    height: 115px;
  }
  
  .card-content-hotel{
    padding: 16px;
  }
  
  .card-title-hotel {
    margin: 0;
    font-size: 15px;
    margin-top: -15px;
  }
  
  .card-subtitle-hotel {
    margin: 0;
    font-size: 13px;
    line-height: 2.3;
  }
  
  .card-rating .neutral-star {
    color: #E0E0E0; 
  }

/****** Populaires ***********/
.populaires {
    width: 32%;
    height: 80%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités à Marseille ***********/
.marseille img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    object-fit: cover;
    height: 370px; 
}

.marseille-activites {
    margin-left: 30px;
    margin-top: 60px;
}

.marseille-activites h2 {
    margin-bottom: 30px;
    font-size: 20px;
}

#marseille-list .card {
    width: 23%;
    padding: 0;
}
.marseille h3 {
    font-size: 15px;
    margin-left: 18px;
}

#marseille-list {
    display: flex;
    flex-direction: row; 
    column-gap: 25px;  
}

/****** Footer ***********/

footer{
    background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    margin-top: 60px;
    height: 20%;
    position: absolute; 
    width: 87%;
    
}

.footer-container {
    margin-left: 20px;
    
}
footer h5{
    margin-bottom: auto;
    font-size: 15px;
    
}
footer ul {
    padding: 0;
    
}
footer li{
    margin-bottom: 13px;
    font-size: 12px;
    list-style-type: none;

}

.nos-hebergements {
  margin-left: 260px;
}

.assistance {
    margin-left: 260px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
    .hidden-desktop {
        display: flex;
    }
    .hidden-mobile {
        display: none;
    }
}