/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

/****** Header ***********/
.section-title {
    margin: 0;
    font-size: 22px;
}

.booki {
    display: flex;
    align-items: center;
    width: 100%; 
}

.logo {
    width: 15%;
    padding-left: 10px;
}

nav {
    position: relative;
    width: 100%;
}
  
nav ul {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    gap: 60px;
}

.navbar li {
    list-style: none; 
}
  
.lien-header:hover {
    color: var(--main-color);
    border-top: 3px solid var(--main-color);
    padding-top: 20px;
}

/****** Barre De Recherche Et Filtres ***********/

#searchForm {
    margin-left: 7px;   
}

#searchForm h1 {
    margin-bottom: 5px;
    font-size: 19px;
    margin-top: 30px;
}

#searchForm p {
    font-size: 13px;
    margin-bottom: 25px;  
}

#city::placeholder {
    font-weight: bold;
    opacity: 1;
}

.map-icon {
    padding: 12px;
    border-radius: 9px 0 0 9px;
    background-color: var(--main-bg-color);
    display: inline-block;
    width: 1%;
    font-size: 13px;
    text-align: center; 
}

#city {
   width: 11.5%; 
   border: none;
   text-align: center;
   border-top: 1px solid var(--main-bg-color);
   border-bottom: 1px solid var(--main-bg-color);
}

.hidden-mobile {
    padding: 8px 18px;
    border-radius: 0 9px 9px 0;
    border: none;
    background-color: var(--main-color); 
    color: white;
    font-weight: bold;
    cursor: pointer;   
}

.result {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.hidden-desktop {
    display: none;
}

.filter {
    display: flex;
    align-items: center; 
    padding: 10px;  
}
    
.filter span {
    font-weight: bold;
    margin-right: 7px;
}

.filter i {
    margin-right: 10px; 
    font-size: 15px;
}

.filter button {
    padding: 10px 20px;
    margin: 7px; 
    background-color: white;
    cursor: pointer; 
    border-radius: 20px;
    border: 2px solid #D9D9D9;
    font-weight: bold;
    transition: transform 0s;
}
  
.filter button:hover {
    background-color: var(--filter-bg-color);
    transform: scale(1.05);
}

.info {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
}

.info .fa-info {
    display: inline-block;
    color: var(--main-color);
    border: 1px solid #d9d9d9;
    font-size: 9px;
    width: 4px;
    height:5px;
    border-radius: 50%;
    font-size: 10px; 
    padding: 5px 9px 12px 9px; 
}

/****** LES PLUS POPULAIRES ***********/

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    transition: transform 0.5s;
    opacity: 1; 
    transition: opacity 0.3s ease; 
}
    
.card:hover {
    transform: scale(1.03);
    opacity: 0.6;
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** HEBERGEMENTS ET POPULAIRES ***********/

.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** HEBERGEMENTS ***********/

.hebergements {
    width: 65%;
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;  
}

.hebergements h2 {
    margin-bottom: 15px;
}

#hebergements {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;  
    row-gap: 10px;    
}

#hebergement .card {
    height: 200px;
    width: 100%;
}

.card-link {
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));;
    width: 31%;
    min-width: 120px;
    margin-top: 20px;
}

.card-link img {
    width: 100%;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    height: 115px;
}
  
.card-content-hotel{
    padding-top: 16px;
    padding-left: 14px;
}
  
.card-title-hotel {
    margin: 0;
    font-size: 14px;
    margin-top: -15px;
    white-space: nowrap;
}
  
.card-subtitle-hotel {
    margin: 0;
    font-size: 13px;
    line-height: 2.3;
}
  
.card-rating .neutral-star {
    color: var(--main-bg-color); 
}

/****** Populaires ***********/

.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activités à Marseille ***********/

.marseille img {
    border-radius: 20px 20px 0 0;
    width: 100%;
    object-fit: cover;
    height: 400px; 
}

.marseille-activites {
    margin-left: 25px;
    margin-top: 80px;
    margin-right: auto;
}

.marseille-activites h2 {
    margin-bottom: 40px;
    font-size: 20px;
}

#marseille-list .card {
    width: 23%;
    padding: 0;
}

.marseille h3 {
    font-size: 15px;
    margin-left: 18px;
}

#marseille-list {
    display: flex;
    flex-direction: row; 
    column-gap: 25px;  
}

/****** Footer ***********/

footer{
    max-width: 1440px;
    margin: auto;
    display: flex;
    flex-direction: row;
    background-color: var(--main-bg-color);
    padding: 1px 15px;
    margin-top: 82px;
    height: 10%;
}

.footer-container {
    width: 32%;
}

footer h5{
    margin-bottom: auto;
    font-size: 15px; 
    white-space: nowrap; 
}

footer ul {
    padding-left: 0px;
    line-height: 30px;
    list-style-type: none;
    font-size: 12px;
    white-space: nowrap;
}

.nos-hebergements {
    margin-left: 70px;
}

.assistance {
    margin-left: 70px;
}

footer a:hover {
    text-decoration: underline;
}
